body,html{
  height:100%;
}

.no-select
{
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   cursor: default;
}

.selected-tab {
    display: inline-block;
    vertical-align: top;
    background-color: #e0e0e0;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    cursor: default;
}

.selected-tab2{
    display: inline-block;
    vertical-align: top;
    background-color: #0000e0;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    cursor: default;
}

.unselected-tab {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.toolbox-frame {
    display: inline-block;
    vertical-align: top;
    background-color: #e0e0e0;
    width: 250px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px;
}

.toolbox-frame-collapsed {
    display: inline-block;
    background-color: #e0e0e0;
    border: 1px solid;
    border-radius: 4px;
}

.step-selection-area {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 250px;
    overflow: auto;
    border: 1px; 
    border-style: solid none solid none;
}

.toolbox-footer {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    overflow: auto;
    border: 1px;
    border-style: none none none none;
}

.popup-background-pane {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000000;
    opacity: 0.5;
}

.window_class {
    position: absolute;
    background-color: #c0c0c0;
    border: 3px solid #000080;
    display: flex;
}

.title_bar_class {
    background-color: #000080;
    color: #ffffff;
    cursor: default;
}

.client_area_class {
    background-color: #ffffff;
    cursor: default;
}
.layout_panel_class {
    flex-direction: row;
}
.layout_element_compact_class {
    display: flex;
}
.layout_element_stretch_class {
    display: flex;
    flex: 1.0;
}
